<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container-fluid text-center bg-imageee py-5">
      <div class="row justify-content-center">
        <div class="col-6">
          <h1 class="fs-1 fw-bold">Hack the blog</h1>
          <small>El Blog de Hack Academy</small>
        </div>
      </div>
    </div>
    <% for (const article of articles) { %>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="px-4">
            <h2 class="fs-4 fw-bold font-open-sans"><%= article.title %></h2>
            <small class="text-secondary fst-italic fs-8"
              >Creado por <%= article.user.firstname %> el 24 de Setiembre, 2022</small
            >
          </div>
          <hr />
        </div>
      </div>
    </div>
    <% } %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
