.bg-imageee {
  background-image: url("../imgs/hero-img.jpg");
  background-color: #cccccc;
}
.font-open-sans {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
