@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Open+Sans:wght@800&display=swap");

.bg-imageee {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/hero-img.jpg");
  background-size: cover;
  padding: 6rem 0 6rem 0;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
}
.font-lora {
  font-family: "Lora", serif;
}
.width-100 {
  width: 100%;
}
.heigth-6-rem {
  height: 6rem;
}
